body {
    margin: 0;
}

.header {
    width: 100%;
}

#profileImage{
    height: 150px;
    width: 150px;
    border-radius: 50%;

    border-style: solid;
    border-color: white;
    border-width: 5px;

    float: left;
    margin-top: 1.5%;
    margin-left: 3%;
}

.blueHeaderContainer {
    overflow: auto;
    padding-top: 2%;
    padding-left: 1.5%;
    padding-right: 3%;
}

.whiteHeaderContainer {
    overflow: auto;
    padding-top: 0px;
    padding-left: 1.5%;
    padding-right: 3%;
}

.blueHeaderContainer ul{
    /* Keeps ul stuck to .headerContainers sides */
    margin: 0;
    padding: 0;
}

.bluePart {
    color: white;
    background-color: darkblue;
}

.nameAndProf{
    display: flex;
    align-items: center;
}

.name {
    display: inline-block;
    white-space: nowrap;
    font-size: 32px;
}

.profession {
    display: inline-block;
    width: 100%;

    font-size: 20px;
    text-align: right;
    vertical-align: middle;
}

.headerLine {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    height: 4px;
    background-color: rgb(192, 192, 192);
}

.contacts {
    flex:auto
}

.contacts li {
    display: inline;
    padding-right: 4px;
}

.contacts i {
    padding: 3px;
}

.contacts a{
    color: white;
}

.summary {
    height: 100px;
}

.whoAmI {
    color: orange;
    font-size: 25px;
    font-weight: bold;
}

#mainBody {
    width: 100%;
}