.header {
    width: 100%;
}

.bluePart {
    color: white;
    background-color: darkblue;
}

/* .nameAndProf{
    display: inline-block;
} */

.name {
    display: inline-block;
    font-size: 40px;
}

.profession {
    display: inline-block;
    font-size: 28px;
    text-align: right;
}

.headerLine {
    width: 100%;
    height: 10px;
    background-color: rgb(192, 192, 192);;
}

.contacts {
    flex:auto
}

.contacts li {
    display: inline;
    padding-right: 4px;
}

.whoAmI {
    color: orange;
    font-size: 25px;
}

#mainBody {
    width: 100%;
    /* flex: 1 1; */
}